
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="~/projects/create">
    Name: <input type="text" name="name" /><br />
    Description <input type="text" name="desc" /><br />
    Estimate<input type="number" name="estimate" /><br />
    <input type="submit" value="Create" />
</form>